body, html{
    margin: 0px;
    height: 100%;
    background-image: url("../asset/form_bg.jpg");

    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-weight: normal;
}

.parallax {
  /* The image used */
  background-image: url("../asset/form_bg.jpg");

  /* Set a specific height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kororo{
    transform: scale(0.7);
    position: absolute;
    top: -5vh;
    left: 11.5vw;
    animation-name: kororo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    filter: drop-shadow(10px 10px 10px #ffb3d9);
}

@keyframes kororo {
    0%{
        top: -15vh;
        opacity: 0;
    }
    100%{
        top: -5vh;
        opacity: 100%;
    }
}

.kororo_container {
    height: 360px;
    background:  linear-gradient(35deg, #CCFFFF, #FFCCCC);
    border-radius: 5px;
}

.dialog_box{
    position: absolute;
    width: 40%;
    height: 12%;
    top: 110px;
    left: 29vw;
    border: 2px white groove;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 2px 3px #c2c2d6;
    animation-name: dialog-box;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: auto;
}

@keyframes dialog-box {
    0%{
        top:0px;
    }
    100%{
        top:110px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.dialog {
    font-family: 'VT323', monospace;
    font-size: 1.3em;
    font-style: italic;
}

.central_form{
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    height: auto;
    border-radius: 10px;
    padding-bottom: 5vh;
}

.form {
}

.content_header {
    font-size: 2.6em;
    font-family: 'Lobster', monospace;
    width: 70%;
    margin-left: 3%;
    border-bottom: 1px #9494b8 solid;
}

.form_input {
    margin-top: 3vh;
    margin-left: 5%;
}

.input_style {
    font-style: italic;
    font-family: 'Lobster', monospace;
    font-size: 1.5em;
}

.search_bar {
    font-size: 1.4em;
    font-style: italic;
    font-family: 'VT323', monospace;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 1.5em;
    width: 20vw;
    border-radius: 8px;
}

.search_bar:focus {
    outline-width: 0px;
}

.form_right{
    float: right;
    margin-right: 10%;
}

.intro {
    margin-top: 1vh;
    height: 30vh;
    width: 80%;
}
@media (max-width: 1220px) {
    .kororo{
        display: none;
    }
}
@media (max-width: 700px) {
    .dialog{
        font-size: 1.2em;
    }
}
